@font-face {
    font-family: opensans;
    src: url("opensans.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: opensans;
    background-color: #ffffff;
    width: 75%;
    margin-left: 25%;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

img[alt*=logo] {
    margin: 3em;
    max-width: 50%;
}

p > span {
    font-size: 0.8em;
}

.button {
    cursor: pointer;
}

.button-bar,
.content-bar {
    position: absolute;
    float: left;
    height: 100%;
    width: 1.5em;
    background-color: #afb0b3;
}

.entry {
    margin: 2em;
    cursor: pointer;
}

.entry .button,
.entry .content {
    position: relative;
    background-color: #eeeeee;
    clear: both;
}

.entry .button-box,
.entry .content-box {
    padding: 1em 1em 1em 3em;
}

.entry .button[aria-checked] .button-bar,
.entry .button:hover .button-bar {
    transition-duration: 0.5s;
    background-color: #333333;
}

.entry .button[aria-checked] .button-box,
.entry .button:hover {
    transition-duration: 0.2s;
    background-color: #5cbfe9;
    color: #ffffff;
}

.image-box {
    text-align: center;
}

#footer {
    padding: 1em 1.5em;
    text-align: center;
    background-color: #5d5d5d;
    color: #ffffff;
}

#menu > .button {
    clear: both;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    background-color: #f2f2f2;
    color: #333333;
}

#menu > .button:hover {
    transition-duration: 0.2s;
    background-color: #5cbfe9;
    color: #ffffff;
}

#menu .content > div {
    float: left;
    min-width: 20%;
    margin: 0.5em;
}

#sidebar {
    position: fixed;
    width: 25%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

#sidebar p,
#sidebar label {
    font-size: 0.8em;
    margin: 0.25em;
}

#text-box {
    clear: both;
    text-align: center;
    padding: 2em 1.5em;
    background-color: #dedede;
}

#text-box hr {
    width: 80%;
    margin: 1.2em auto;
}

@media (max-width: 1200px) {
    body {
        width: 100%;
        margin: 0;
    }

    #menu .content > div {
        min-width: 18%;
    }

    #sidebar {
        height: auto;
        position: relative;
        width: 100%;
    }
}